        <style>
        <!--Google Font link-->
        <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">


        <link rel="stylesheet" href="/assets/css/swiper.min.css">
        <link rel="stylesheet" href="/assets/css/animate.css">
        <link rel="stylesheet" href="/assets/css/iconfont.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/assets/css/bootsnav.css">

        @font-face {
          font-family: 'LotteMartHappy';
          font-style: normal;
          font-weight: 700;
          src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
          }
      
        .font_google{
          font-family: 'LotteMartHappy', sans-serif;
        }
        
        nav{
          font-family: 'LotteMartHappy', sans-serif;
        }
    

        <!--For Plugins external css-->
        <!--<link rel="stylesheet" href="/assets/css/plugins.css" />-->
        <!--Theme custom css -->
        <link rel="stylesheet" href="/assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/assets/css/responsive.css" />

        <script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        

        </style>
          

        
        <div class = "container-fluid" style = "background-color: white;">
          <br>
          <div style = "text-align: center;">
          <a href="/">
            <img src="/assets/images/logo_color2.png" class="logo logo-scrolled" alt="로고_색상">
          </a>
          </div>
          <hr style = "margin-top: 10px;">
          <div class = "row">
            <div class = "col-md-12">
              <div style = "font-size: 32px; color: black; text-align: center;">
                재밌는 예능 보고<br>
                신나게 웃어보자
              </div>
            </div>  
          </div>
          <br>
          
          
          <div class = "row">
            <div class = "col-md-4"></div>
            <div class = "col-md-4">
           
              <div class = "sign_up_card" style = "padding: 40px 40px; background-color: #F7F7F7; border-radius:3px; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);">
                            <div style = "color: black; text-align: center; font-weight: bold;">
                              <i class="fa fa-user-plus" aria-hidden="true"></i> 회원가입
                            </div>
                            <hr>
                           
                           <% if User.all.count < 12740 %>
                             <form class="form-group new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="89UnA0L0gOjp7h0tztBbww728onm57siQzRZpj+t2Y7tytoVlCpBrQiTEKmtA8B3v8yzfE8OfE0+PDu6x3CvHQ==" />
                              <div class="field">
                                <label for="user_email" style = "color: black; font-size: 12px;">이메일 주소</label><br />
                                <input class = "form-control" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" />
                              </div>
                              
                              <br>
                              <div class="field">
                                <label for="user_password" style = "color: black; font-size: 12px;">비밀번호</label><br />
                                <input class = "form-control" autocomplete="off" type="password" name="user[password]" id="user_password" />
                              </div>
                              <div style = "color: black; font-size: 12px; margin-top:5px;">*7자 이상</div>
                              <br>
                              <div class="field">
                                <label for="user_password_confirmation" style = "color: black; font-size: 12px;">비밀번호 확인</label><br />
                                <input class = "form-control" autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
                              </div>
                              <br>
                              <div class="actions">
                                <input class="btn btn-primary  btn-block" type="submit" name="commit" value="가입하기" />
                              </div>
                              <hr>
                              <div style = "font-size: 11px; color: black; text-align: center;">
                                  본 콘텐츠의 저작권은 저작권자에게 있으며, <br>
                                  본 사이트는 해당 콘텐츠의 영상 링크 주소를 공유해 주는 <br>
                                  사이트에 불과합니다. 
                              </div>
                              </form> 
                              <% else %>
                                  <div style = "font-size: 14px; color: black; text-align: center;">
                                      원활한 서비스 제공을 위해 <span style = "font-size: 18px; font-weight: bold;">12740</span><span style = "font-weight: bold;">명</span>의 <br>
                                      회원으로 운영되고 있습니다<br>
                                      빠른 시일 내에 더 많은 분들께 <br>
                                      서비스 제공을 위해 노력하겠습니다<br>
                                      감사합니다.<br>
                                      (1일~3일 소요 예상)
                                  </div>
                              <% end %>    
              </div>
                                                         
            </div>
            <div class = "col-md-4"></div>
          </div>
          <br><br><br><br><br>
        </div>
        
        <section id="features" class="features">
                <div class="container">
                    <div class="row">
                        <div class="main_features p-top-100">
                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                                <div class="head_title text-center">
                                    <h2>Service Features</h2>
                                    <h5>Only Fun & Smile</h5>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="icon icon-diamond6"></i>
                                    </div>
                                    <div class="f_item_text">
                                        <h3 class = "font_google">재미있다</h3>
                                        <p style = "font-size: 14px; ">
                                          수많은 예능 영상 중 자체 예능 MD가 <br>
                                          선별한 예능 영상 링크만 공유! <br>
                                          영상 하나에도 재밌는 '킬링파트'를 <br>
                                          제공함으로 재밌는 핵심만 <br>
                                          즐길 수 있습니다.
                                          </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="icon icon-layers2"></i>
                                    </div>
                                    <div class="f_item_text">
                                        <h3 class = "font_google">모았다</h3>
                                        <p style = "font-size: 14px; ">
                                         재밌는 영상은 하나의 영상 플랫폼에 <br>
                                         없고 여러 곳에 흩어져 있습니다! <br>
                                         흩어진 재밌는 예능 영상을 이곳<br>
                                         한곳에 모아서 즐길 수 있습니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="icon icon-business-32"></i>
                                    </div>
                                    <div class="f_item_text">
                                        <h3 class = "font_google">올바르다</h3>
                                        <p style = "font-size: 14px; ">
                                         '예능사냥꾼'은 저작권을 <br>
                                         준수합니다. 공식 영상 채널에서 <br>
                                         링크만 공유하여 제공하기 때문에<br>
                                         영상이 잘릴 위험 없이 언제든<br>
                                         재밌는 영상을 즐길 수 있습니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
                <br><br><br><br><br><br>
            </section>
            
            <%= render :partial => "home/footer" %> 