        
        <!--Google Font link-->
        <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">


        <link rel="stylesheet" href="/assets/css/swiper.min.css">
        <link rel="stylesheet" href="/assets/css/animate.css">
        <link rel="stylesheet" href="/assets/css/iconfont.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/assets/css/bootsnav.css">
        <style>
        @font-face {
          font-family: 'LotteMartHappy';
          font-style: normal;
          font-weight: 700;
          src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
          }
      
        .font_google{
          font-family: 'LotteMartHappy', sans-serif;
        }
        
        nav{
          font-family: 'LotteMartHappy', sans-serif;
        }
         </style>

        <!--For Plugins external css-->
        <!--<link rel="stylesheet" href="/assets/css/plugins.css" />-->
        <!--Theme custom css -->
        <link rel="stylesheet" href="/assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/assets/css/responsive.css" />

        <script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        

       
          

        
        <div class = "container-fluid" style = "background-color: white;">
          <br>
          <div style = "text-align: center;">
          <a href="/">
            <img src="/assets/images/logo_color2.png" class="logo logo-scrolled" alt="로고_색상">
          </a>
          </div>
          <hr style = "margin-top: 10px;">
          <div class = "row">
            <div class = "col-md-12">
              <div style = "font-size: 32px; color: black; text-align: center;">
                재밌는 예능 보고<br>
                신나게 웃어보자
              </div>
            </div>  
          </div>
          <br>
          
          
          <div class = "row">
            <div class = "col-md-4"></div>
            <div class = "col-md-4">
           
              <div class = "sign_up_card" style = "padding: 40px 40px; background-color: #F7F7F7; border-radius:3px; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);">
                <div style = "color: black; text-align: center; font-weight: bold;">
                  <i class="fa fa-unlock-alt" aria-hidden="true"></i> 비밀번호 찾기
                </div>
                <hr>
                <form class="form-group new_user" id="new_user" action="/users/password" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="uYrdL+bFaG6hfrF8MRykt/F4smpSDPinJ9/q+akUI+hGg9fHx5Mlk/QODeE7FU90wq0PKeey+cOgisF6fb47Sw==" />
                  <div class="field">
                    <label for="user_email" style = "color: black; font-size: 12px;">가입한 이메일 주소</label><br />
                    <input class = "form-control" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" />
                  </div>
                  <br>
                  <div class="actions">
                    <input class="btn btn-primary  btn-block" type="submit" name="commit" value="이메일로 암호 전송하기" />
                  </div>
                  
                </form>       
                <div style = "font-size: 12px; text-align:center;"><a style = "color: black;" href = "/users/sign_up">회원가입</a>&nbsp;&nbsp;&nbsp;&nbsp;<a style = "color: black;" href ="/users/sign_in">로그인</a></div>  
              </div>
                                                       
            </div>
            <div class = "col-md-4"></div>
          </div>
          <br><br><br><br><br>
        </div>
        <%= render :partial => "home/footer" %> 






