<footer id="footer" class="footer bg-black">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" >
                        <!-- Start Atribute Navigation -->
                        <div class="attr-nav text-center ">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="/home/service"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>        
                        <!-- End Atribute Navigation -->
                        </div>
                        <div class="divider"></div>
                        <div class="col-md-12">
                            <div class="main_footer text-center p-top-40 p-bottom-30">
                                <p class="wow fadeInRight" data-wow-duration="1s" style = "font-size: 12px; color: white;">
                                    본 콘텐츠의 저작권은 저작권자에 있으며, 본 사이트는 해당 콘텐츠의 영상 링크 주소를 공유해 주는 사이트에 불과합니다.
                                    <br> 
                                    Copyright © <a style = "font-weight: bold;" href = "/home/intro">Octopus.</a> All Rights Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>