<style>
    @media (min-width: 1200px) { 

                .navbar-brand{padding-top:18px;} /* pc 로고 */
          
            } /*  only pc  */

            
            @media (max-width: 768px) { 

                .navbar-brand{padding-top:7px;} /* 모바일 로고 */
                
            }  
</style>


<nav class="navbar navbar-default bootsnav navbar-fixed white" >
    
                <div class="container">  



                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img src="/assets/images/logo_color2.png" class="logo logo-scrolled" alt="로고_색상">
                        </a>

                    </div>
                    <!-- End Header Navigation -->

                    <!-- navbar menu -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" >
                            <li><a href="/home/service" style = "color: #797979; " >소개</a></li>                    
                            <li><a href="/home/tv_show" style = "color: #797979;">예능</a></li>
                            <li><a href="/home/web_drama" style = "color: #797979;">웹컨텐츠</a></li>
                            <li><a href="/home/person_cloud" style = "color: #797979;">클라우드</a></li>
                            <li><a href="/users/sign_out" style = "color: #797979;">로그아웃</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>   
            </nav>