<style>
    @media (min-width: 1200px) { 

                .navbar-brand{padding-top:18px;} /* pc 로고 */
          
            } /*  only pc  */

            
            @media (max-width: 768px) { 

                .navbar-brand{padding-top:7px;} /* 모바일 로고 */
                
            }  
</style>


<nav class="navbar navbar-default bootsnav navbar-fixed white" >
    
                <div class="container">  



                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img src="/assets/images/logo_color2.png" class="logo logo-scrolled" alt="로고_색상">
                        </a>

                    </div>
                    <!-- End Header Navigation -->

                    <!-- navbar menu -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" >
                            <li><a href="/home/service" style = "color: #797979;" >소개</a></li>                    
                            <li><a href="/home/tv_show" style = "color: #797979;">예능</a></li>
                            <li><a href="/home/web_drama" style = "color: #797979;">웹컨텐츠</a></li>
                            <li><a href="/home/person_cloud" style = "color: #797979;">클라우드</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>   
            </nav>
            <br><br>
             <section id="features" class="features" style = "background-color: white;">
                <div class="container">
                    <div class="row">
                        <div class="main_features p-top-100">
                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" style = "text-align: center;">
                                <img src = "/assets/images/site6.png" height = "233" alt ="서비스 가치" />

                            </div>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
                <br><br><br><br>
            </section> 
            
            <section id="features" class="features">
                <div class="container">
                    <div class="row">
                        <div class="main_features p-top-100">
                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" style = "text-align: center;">
                                <img src = "/assets/images/site1.png" height = "233" alt ="서비스 가치" />

                            </div>

                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
                <br><br><br><br>
            </section>  
            <section id="features" class="features" style = "background-color: white;">
                <div class="container">
                    <div class="row">
                        <div class="main_features p-top-100">
                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" style = "text-align: center;">
                                <img src = "/assets/images/site2.png" height = "233" alt ="서비스 가치" />
                                <br>
                                <a href = "https://play.google.com/store/apps/details?id=com.idiotpaper.idiotpaper" style  = "font-size: 12px; color: black; text-decoration: underline;" target = "_blank">다운로드</a>
                            </div>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
                <br><br><br><br>
            </section> 
            <section id="features" class="features">
                <div class="container">
                    <div class="row">
                        <div class="main_features p-top-100">
                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" style = "text-align: center;">
                                <img src = "/assets/images/site3.png" height = "233" alt ="서비스 가치" />

                            </div>

                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
                <br><br><br><br>
            </section>  
            <section id="features" class="features" style = "background-color: white;">
                <div class="container">
                    <div class="row">
                        <div class="main_features p-top-100">
                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" style = "text-align: center;">
                                <img src = "/assets/images/site4.png" height = "233" alt ="서비스 가치" />

                            </div>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
                <br><br><br><br>
            </section> 
            <section id="features" class="features">
                <div class="container">
                    <div class="row">
                        <div class="main_features p-top-100">
                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" style = "text-align: center;">
                                <img src = "/assets/images/site5.png" width = "340" height = "300" alt ="서비스 가치" />
                                <br>
                                <div style = "margin-right: 30px;">
                                  <a href = "https://blog.naver.com/dellose/221169701141" style  = "font-size: 12px; color: black; text-decoration: underline;" target = "_blank">서비스 보기</a>
                                </div>
                            </div>

                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
                <br><br><br><br>
            </section>  
            
            <%= render :partial => "home/footer" %> 