<style>
    @media (min-width: 1200px) { 

                .navbar-brand{padding-top:18px;} /* pc 로고 */
          
            } /*  only pc  */

            
            @media (max-width: 768px) { 

                .navbar-brand{padding-top:7px;} /* 모바일 로고 */
                
            }  
</style>


<nav class="navbar navbar-default bootsnav navbar-fixed white" >
    
                <div class="container">  



                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img src="/assets/images/logo_color2.png" class="logo logo-scrolled" alt="로고_색상">
                        </a>

                    </div>
                    <!-- End Header Navigation -->

                    <!-- navbar menu -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" >
                            <li><a href="/home/service"  >소개</a></li>                    
                            <li><a href="/home/tv_show" style = "color: #797979;">예능</a></li>
                            <li><a href="/home/web_drama" style = "color: #797979;">웹컨텐츠</a></li>
                            <li><a href="/home/person_cloud" style = "color: #797979;">클라우드</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>   
            </nav>
            <br><br>
            
       <section id="features" class="features" style = "background-color: white;">
                <div class="container">
                    <div class="row">
                        <div class="main_features p-top-100">
                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" style = "text-align: center;">
                                <img src = "/assets/images/service1.png" height = "233" alt ="서비스 가치" />

                            </div>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
                <br><br><br><br><br><br>
            </section> 
            
            <section id="features" class="features">
                <div class="container">
                    <div class="row">
                        <div class="main_features p-top-100">
                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" style = "text-align: center;">
                                <img src = "/assets/images/service3.png" height = "233" alt ="서비스 가치" />

                            </div>

                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
                <br><br><br><br><br><br>
            </section>  
            
            
            
        
        <section id="features" class="features" style = "background-color: white;">
                <div class="container">
                    <div class="row">
                        <div class="main_features p-top-100">
                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                                <div class="head_title text-center">
                                    <h2>Service Features</h2>
                                    <h5>Only Fun & Smile</h5>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="icon icon-diamond6"></i>
                                    </div>
                                    <div class="f_item_text">
                                        <h3 class = "font_google">재미있다</h3>
                                        <p style = "font-size: 14px; ">
                                          수많은 예능 영상 중 자체 예능 MD가 <br>
                                          선별한 예능 영상 링크만 공유! <br>
                                          영상 하나에도 재밌는 '킬링파트'를 <br>
                                          제공함으로 재밌는 핵심만 <br>
                                          즐길 수 있습니다.
                                          </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="icon icon-layers2"></i>
                                    </div>
                                    <div class="f_item_text">
                                        <h3 class = "font_google">모았다</h3>
                                        <p style = "font-size: 14px; ">
                                         재밌는 영상은 하나의 영상 플랫폼에 <br>
                                         없고 여러 곳에 흩어져 있습니다! <br>
                                         흩어진 재밌는 예능 영상을 이곳<br>
                                         한곳에 모아서 즐길 수 있습니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="icon icon-business-32"></i>
                                    </div>
                                    <div class="f_item_text">
                                        <h3 class = "font_google">올바르다</h3>
                                        <p style = "font-size: 14px; ">
                                         '예능사냥꾼'은 저작권을 <br>
                                         준수합니다. 공식 영상 채널에서 <br>
                                         링크만 공유하여 제공하기 때문에<br>
                                         영상이 잘릴 위험 없이 언제든<br>
                                         재밌는 영상을 즐길 수 있습니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
                <br><br><br><br><br><br>
            </section>
            
            <section id="features" class="features" >
                <div class="container">
                    <div class="row">
                        <div class="main_features p-top-100">
                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                                <div class="head_title text-center">
                                    <h2>Contact</h2>
                                    <h5>Everything</h5>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                                <div class="features_item sm-m-top-30">
                                  <form action = "/home/email_send" method = "GET">
                                      <div class="form-group">
                                        <label for="exampleInputEmail1" style = "color: black; font-size: 12px;">보낼 주소</label>
                                        <% if user_signed_in? %>
                                           <input type="email" name = "send_user" class="form-control" id="exampleInputEmail1" value = "<%= current_user.email %>">
                                        <% else %>
                                            <input type="email" name = "send_user" class="form-control" id="exampleInputEmail1">
                                        <% end %>
                                       
                                      </div>
                                      <div class="form-group">
                                         <label for="exampleInputEmail11" style = "color: black; font-size: 12px;">내용</label>
                                        <textarea class="form-control" name = "send_content"  id="exampleInputEmail11" rows="6"></textarea>
                                      </div>
                                      </br>
                                      <button type="submit" class="btn btn-primary  btn-block">메일 보내기</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
                <br><br><br><br><br><br>
            </section>
            
            <%= render :partial => "home/footer" %> 